body
{
    background-color: hotpink;
}
a, acronym, abbr
{
    text-decoration: none;
    color:black;
}
a:hover
{
    color:darkgray;
}
acronym:hover
{
    color:darkgray;
}
abbr:hover
{
    color:darkgray;
}